USE [master]
GO
/****** Object:  Database [LBD]    Script Date: 04/06/2020 10:31:48 p. m. ******/
CREATE DATABASE [LBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LBD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LBD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LBD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LBD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LBD]
GO
/****** Object:  Table [dbo].[ARTICULOS]    Script Date: 04/06/2020 10:31:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARTICULOS](
	[Codigo_articulo] [int] IDENTITY(1,1) NOT NULL,
	[Volumen] [float] NOT NULL,
 CONSTRAINT [PK__ARTICULO__9AB54F0D927175F6] PRIMARY KEY CLUSTERED 
(
	[Codigo_articulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAMIONES]    Script Date: 04/06/2020 10:31:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAMIONES](
	[Matricula_camion] [int] IDENTITY(1,1) NOT NULL,
	[Modelo_camion] [int] NOT NULL,
	[Capacidad_camion] [float] NOT NULL,
 CONSTRAINT [PK__CAMIONES__B05E24010C8DF952] PRIMARY KEY CLUSTERED 
(
	[Matricula_camion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 04/06/2020 10:31:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[Cliente] [int] IDENTITY(1,1) NOT NULL,
	[Direccion_cliente] [varchar](255) NOT NULL,
 CONSTRAINT [PK__CLIENTES__00D968A4FDB0645A] PRIMARY KEY CLUSTERED 
(
	[Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ENVIOS]    Script Date: 04/06/2020 10:31:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENVIOS](
	[Codigo_envio] [int] IDENTITY(1,1) NOT NULL,
	[Matricula_camion] [int] NOT NULL,
 CONSTRAINT [PK__ENVIOS__F1054D0B5E5E2C7B] PRIMARY KEY CLUSTERED 
(
	[Codigo_envio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDO_ARTICULOS]    Script Date: 04/06/2020 10:31:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDO_ARTICULOS](
	[Codigo_articulo] [int] IDENTITY(1,1) NOT NULL,
	[Pedido_cliente] [int] NOT NULL
) ON [PRIMARY]
GO
UPDATE STATISTICS [dbo].[PEDIDO_ARTICULOS] WITH ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Table [dbo].[PEDIDO_CLIENTES]    Script Date: 04/06/2020 10:31:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDO_CLIENTES](
	[Pedido_cliente] [int] IDENTITY(1,1) NOT NULL,
	[Codigo_envio] [int] NOT NULL,
	[Cliente] [int] NOT NULL,
 CONSTRAINT [PK__PEDIDO_C__94C8D63CDB5BFB1A] PRIMARY KEY CLUSTERED 
(
	[Pedido_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ARTICULOS] ON 

INSERT [dbo].[ARTICULOS] ([Codigo_articulo], [Volumen]) VALUES (1, 30.4)
INSERT [dbo].[ARTICULOS] ([Codigo_articulo], [Volumen]) VALUES (2, 897.4)
INSERT [dbo].[ARTICULOS] ([Codigo_articulo], [Volumen]) VALUES (3, 6.76)
SET IDENTITY_INSERT [dbo].[ARTICULOS] OFF
SET IDENTITY_INSERT [dbo].[CAMIONES] ON 

INSERT [dbo].[CAMIONES] ([Matricula_camion], [Modelo_camion], [Capacidad_camion]) VALUES (2, 2001, 3500)
INSERT [dbo].[CAMIONES] ([Matricula_camion], [Modelo_camion], [Capacidad_camion]) VALUES (3, 2001, 4900)
INSERT [dbo].[CAMIONES] ([Matricula_camion], [Modelo_camion], [Capacidad_camion]) VALUES (5, 2001, 3500)
SET IDENTITY_INSERT [dbo].[CAMIONES] OFF
SET IDENTITY_INSERT [dbo].[CLIENTES] ON 

INSERT [dbo].[CLIENTES] ([Cliente], [Direccion_cliente]) VALUES (1, N'Parque de los Olivos 419 Col. Anahuac')
INSERT [dbo].[CLIENTES] ([Cliente], [Direccion_cliente]) VALUES (2, N'Parque de los Sauces 31 Col. Potrero')
INSERT [dbo].[CLIENTES] ([Cliente], [Direccion_cliente]) VALUES (3, N'Monte de los Olivos 423 Col. Sauce')
SET IDENTITY_INSERT [dbo].[CLIENTES] OFF
ALTER TABLE [dbo].[ENVIOS]  WITH CHECK ADD  CONSTRAINT [FK__ENVIOS__Matricul__6754599E] FOREIGN KEY([Matricula_camion])
REFERENCES [dbo].[CAMIONES] ([Matricula_camion])
GO
ALTER TABLE [dbo].[ENVIOS] CHECK CONSTRAINT [FK__ENVIOS__Matricul__6754599E]
GO
ALTER TABLE [dbo].[PEDIDO_ARTICULOS]  WITH CHECK ADD  CONSTRAINT [FK__PEDIDO_AR__Codig__6E01572D] FOREIGN KEY([Codigo_articulo])
REFERENCES [dbo].[ARTICULOS] ([Codigo_articulo])
GO
ALTER TABLE [dbo].[PEDIDO_ARTICULOS] CHECK CONSTRAINT [FK__PEDIDO_AR__Codig__6E01572D]
GO
ALTER TABLE [dbo].[PEDIDO_ARTICULOS]  WITH CHECK ADD  CONSTRAINT [FK__PEDIDO_AR__Pedid__6D0D32F4] FOREIGN KEY([Pedido_cliente])
REFERENCES [dbo].[PEDIDO_CLIENTES] ([Pedido_cliente])
GO
ALTER TABLE [dbo].[PEDIDO_ARTICULOS] CHECK CONSTRAINT [FK__PEDIDO_AR__Pedid__6D0D32F4]
GO
ALTER TABLE [dbo].[PEDIDO_CLIENTES]  WITH CHECK ADD  CONSTRAINT [FK__PEDIDO_CL__Clien__6B24EA82] FOREIGN KEY([Cliente])
REFERENCES [dbo].[CLIENTES] ([Cliente])
GO
ALTER TABLE [dbo].[PEDIDO_CLIENTES] CHECK CONSTRAINT [FK__PEDIDO_CL__Clien__6B24EA82]
GO
ALTER TABLE [dbo].[PEDIDO_CLIENTES]  WITH CHECK ADD  CONSTRAINT [FK__PEDIDO_CL__Codig__6A30C649] FOREIGN KEY([Codigo_envio])
REFERENCES [dbo].[ENVIOS] ([Codigo_envio])
GO
ALTER TABLE [dbo].[PEDIDO_CLIENTES] CHECK CONSTRAINT [FK__PEDIDO_CL__Codig__6A30C649]
GO
/****** Object:  Statistic [_WA_Sys_00000002_6383C8BA]    Script Date: 04/06/2020 10:31:48 p. m. ******/
CREATE STATISTICS [_WA_Sys_00000002_6383C8BA] ON [dbo].[ARTICULOS]([Volumen]) WITH STATS_STREAM = 0x01000000010000000000000000000000823E802D000000001A03000000000000DA020000000000003E0300003E000000080035000000000000000000380200000700000013387101D0AB00000A000000000000000A0000000000000000000000CDCCCC3D00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000A0000000A0000000100000018000000000000410000204100000000000000410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000005E0100000000000066010000000000006E0100000000000050000000000000006B000000000000008600000000000000A100000000000000BC00000000000000D700000000000000F2000000000000000D0100000000000028010000000000004301000000000000100018000000803F000000000000803F3333333333330B40040000100018000000803F000000000000803F9A99999999990D40040000100018000000803F000000000000803F0AD7A3703D0A1B40040000100018000000803F000000000000803F0000000000803840040000100018000000803F000000000000803F6666666666663E40040000100018000000803F000000000000803F6666666666E64340040000100018000000803F000000000000803F9A99999999995340040000100018000000803F000000000000803F9A99999999995840040000100018000000803F000000000000803F6666666666768B40040000100018000000803F000000000000803F33333333330B8C400400000A000000000000000000000000000000
GO
/****** Object:  Statistic [PK__ARTICULO__9AB54F0D927175F6]    Script Date: 04/06/2020 10:31:48 p. m. ******/
UPDATE STATISTICS [dbo].[ARTICULOS]([PK__ARTICULO__9AB54F0D927175F6]) WITH STATS_STREAM = 0x01000000010000000000000000000000044F56650000000040000000000000000000000000000000380399993800000004000A00000000000000000000000000, ROWCOUNT = 10, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_5FB337D6]    Script Date: 04/06/2020 10:31:48 p. m. ******/
CREATE STATISTICS [_WA_Sys_00000002_5FB337D6] ON [dbo].[CAMIONES]([Modelo_camion]) WITH STATS_STREAM = 0x01000000010000000000000000000000F14F172300000000DB010000000000009B01000000000000380300003800000004000A000000000000000000007700730700000014387101D0AB00000A000000000000000A00000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000204100000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F0000000000000008000000000000001000140000002041000000000000803FD10700000400000A000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_5FB337D6]    Script Date: 04/06/2020 10:31:48 p. m. ******/
CREATE STATISTICS [_WA_Sys_00000003_5FB337D6] ON [dbo].[CAMIONES]([Capacidad_camion]) WITH STATS_STREAM = 0x01000000010000000000000000000000DBDBB573000000006B020000000000002B020000000000003E0300003E000000080035000000000000000000000000000700000012387101D0AB00000A000000000000000A0000000000000000000000CDCC4C3E00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000500000005000000010000001800000000000041000020410000000000000041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000011040000000000000000000000000000AF00000000000000B700000000000000BF00000000000000280000000000000043000000000000005E00000000000000790000000000000094000000000000001000180000008040000000000000803F000000000070A7400400001000180000000040000000000000803F000000000058AB400400001000180000000040000000000000803F0000000000E8AC40040000100018000000803F000000000000803F0000000000B0AD40040000100018000000803F000000000000803F000000000024B3400400000A000000000000000000000000000000
GO
/****** Object:  Statistic [PK__CAMIONES__B05E24010C8DF952]    Script Date: 04/06/2020 10:31:48 p. m. ******/
UPDATE STATISTICS [dbo].[CAMIONES]([PK__CAMIONES__B05E24010C8DF952]) WITH STATS_STREAM = 0x01000000010000000000000000000000AF6EF6400000000040000000000000000000000000000000380300803800000004000A00000000000000000040040000, ROWCOUNT = 6, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_619B8048]    Script Date: 04/06/2020 10:31:48 p. m. ******/
CREATE STATISTICS [_WA_Sys_00000002_619B8048] ON [dbo].[CLIENTES]([Direccion_cliente]) WITH STATS_STREAM = 0x0100000001000000000000000000000041752C990000000098050000000000005805000000000000A7030000A7000000FF0000000000000028D00000380200000700000013387101D0AB00000A000000000000000A0000000000000000000000CDCCCC3D00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000A0000000A00000001000000100000009A99E94100002041000000009A99E9410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000005A02000000000000D403000000000000DC03000000000000E40300000000000050000000000000008300000000000000B100000000000000DF00000000000000180100000000000051010000000000007E01000000000000BA01000000000000F6010000000000003102000000000000300010000000803F000000000000803F0400000100330042726173696C203920436F6C2E204D697261646120416E6168756163300010000000803F000000000000803F04000001002E004A7576656E74756420343620436F6C2E204D6F6E746573300010000000803F000000000000803F04000001002E004D6972616D617220363520436F6C2E20416E6168756163300010000000803F000000000000803F040000010039004D6F6E7465206465206C6F73204F6C69766F732034323320436F6C2E205361756365300010000000803F000000000000803F040000010039004D6F6E7465727265616C2031373920436F6C2E204D6973696F6E20416E6168756163300010000000803F000000000000803F04000001002D004F6C6D6F73203634353920436F6C2E204D6973696F6E300010000000803F000000000000803F04000001003C00506172717565206465206C617320466C6F7265732036353920436F6C2E20416E6168756163300010000000803F000000000000803F04000001003C00506172717565206465206C6F73204F6C69766F732034313920436F6C2E20416E6168756163300010000000803F000000000000803F04000001003B00506172717565206465206C6F732053617563657320333120436F6C2E20506F747265726F300010000000803F000000000000803F0400000100290053617563652036343920436F6C2E20536F6CFF01000000000000000A0000000A000000280000002800000000000000000000000501000042726173696C203920436F6C2E204D697261646120416E61687561634A7576656E74756420343620436F6C2E204D6F6E7465734D6972616D617220363520436F6C2E20416E61687561636F6E7465206465206C6F73204F6C69766F732034323320436F6C2E205361756365727265616C2031373920436F6C2E204D6973696F6E20416E61687561634F6C6D6F73203634353920436F6C2E204D6973696F6E506172717565206465206C617320466C6F7265732036353920436F6C2E20416E61687561636F73204F6C69766F732034313920436F6C2E20416E616875616353617563657320333120436F6C2E20506F747265726F53617563652036343920436F6C2E20536F6C0F0000004000000000811C00000081171C0000C001330000811634000040044A0000811D4E0000011D6B00008116880000C00B9E0000811AA900004003C300008117C600000116DD00000112F30000000A000000000000000000000000000000
GO
/****** Object:  Statistic [PK__CLIENTES__00D968A4FDB0645A]    Script Date: 04/06/2020 10:31:48 p. m. ******/
UPDATE STATISTICS [dbo].[CLIENTES]([PK__CLIENTES__00D968A4FDB0645A]) WITH STATS_STREAM = 0x010000000100000000000000000000002DBA00770000000040000000000000000000000000000000380369723800000004000A00000000000000000000803F00, ROWCOUNT = 10, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK__ENVIOS__F1054D0B5E5E2C7B]    Script Date: 04/06/2020 10:31:48 p. m. ******/
UPDATE STATISTICS [dbo].[ENVIOS]([PK__ENVIOS__F1054D0B5E5E2C7B]) WITH STATS_STREAM = 0x010000000100000000000000000000002DBA00770000000040000000000000000000000000000000380369723800000004000A00000000000000000000803F00, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK__PEDIDO_C__94C8D63CDB5BFB1A]    Script Date: 04/06/2020 10:31:48 p. m. ******/
UPDATE STATISTICS [dbo].[PEDIDO_CLIENTES]([PK__PEDIDO_C__94C8D63CDB5BFB1A]) WITH STATS_STREAM = 0x010000000100000000000000000000002DBA00770000000040000000000000000000000000000000380369723800000004000A00000000000000000000803F00, ROWCOUNT = 0, PAGECOUNT = 0
GO
USE [master]
GO
