USE [master]
GO
/****** Object:  Database [LBD]    Script Date: 06/06/2020 01:17:29 p. m. ******/
CREATE DATABASE [LBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LBD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LBD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LBD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LBD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LBD]
GO
/****** Object:  Table [dbo].[ARTICULOS]    Script Date: 06/06/2020 01:17:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARTICULOS](
	[Codigo_articulo] [int] IDENTITY(1,1) NOT NULL,
	[Volumen] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo_articulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAMIONES]    Script Date: 06/06/2020 01:17:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAMIONES](
	[Matricula_camion] [int] IDENTITY(1,1) NOT NULL,
	[Modelo_camion] [int] NOT NULL,
	[Capacidad_camion] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Matricula_camion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 06/06/2020 01:17:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[Cliente] [int] IDENTITY(1,1) NOT NULL,
	[Direccion_cliente] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENVIOS]    Script Date: 06/06/2020 01:17:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENVIOS](
	[Codigo_envio] [int] IDENTITY(1,1) NOT NULL,
	[Matricula_camion] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo_envio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDO_ARTICULOS]    Script Date: 06/06/2020 01:17:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDO_ARTICULOS](
	[Codigo_articulo] [int] IDENTITY(1,1) NOT NULL,
	[Pedido_cliente] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDO_CLIENTES]    Script Date: 06/06/2020 01:17:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDO_CLIENTES](
	[Pedido_cliente] [int] IDENTITY(1,1) NOT NULL,
	[Codigo_envio] [int] NOT NULL,
	[Cliente] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Pedido_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ARTICULOS] ON 

INSERT [dbo].[ARTICULOS] ([Codigo_articulo], [Volumen]) VALUES (1, 30.4)
INSERT [dbo].[ARTICULOS] ([Codigo_articulo], [Volumen]) VALUES (2, 897.4)
INSERT [dbo].[ARTICULOS] ([Codigo_articulo], [Volumen]) VALUES (3, 6.76)
SET IDENTITY_INSERT [dbo].[ARTICULOS] OFF
SET IDENTITY_INSERT [dbo].[CAMIONES] ON 

INSERT [dbo].[CAMIONES] ([Matricula_camion], [Modelo_camion], [Capacidad_camion]) VALUES (2, 2001, 3500)
INSERT [dbo].[CAMIONES] ([Matricula_camion], [Modelo_camion], [Capacidad_camion]) VALUES (3, 2001, 4900)
INSERT [dbo].[CAMIONES] ([Matricula_camion], [Modelo_camion], [Capacidad_camion]) VALUES (5, 2001, 3500)
SET IDENTITY_INSERT [dbo].[CAMIONES] OFF
SET IDENTITY_INSERT [dbo].[CLIENTES] ON 

INSERT [dbo].[CLIENTES] ([Cliente], [Direccion_cliente]) VALUES (1, N'Parque de los Olivos 419 Col. Anahuac')
INSERT [dbo].[CLIENTES] ([Cliente], [Direccion_cliente]) VALUES (2, N'Parque de los Sauces 31 Col. Potrero')
INSERT [dbo].[CLIENTES] ([Cliente], [Direccion_cliente]) VALUES (3, N'Monte de los Olivos 423 Col. Sauce')
SET IDENTITY_INSERT [dbo].[CLIENTES] OFF
ALTER TABLE [dbo].[ENVIOS]  WITH CHECK ADD FOREIGN KEY([Matricula_camion])
REFERENCES [dbo].[CAMIONES] ([Matricula_camion])
GO
ALTER TABLE [dbo].[PEDIDO_ARTICULOS]  WITH CHECK ADD FOREIGN KEY([Codigo_articulo])
REFERENCES [dbo].[ARTICULOS] ([Codigo_articulo])
GO
ALTER TABLE [dbo].[PEDIDO_ARTICULOS]  WITH CHECK ADD FOREIGN KEY([Pedido_cliente])
REFERENCES [dbo].[PEDIDO_CLIENTES] ([Pedido_cliente])
GO
ALTER TABLE [dbo].[PEDIDO_CLIENTES]  WITH CHECK ADD FOREIGN KEY([Cliente])
REFERENCES [dbo].[CLIENTES] ([Cliente])
GO
ALTER TABLE [dbo].[PEDIDO_CLIENTES]  WITH CHECK ADD FOREIGN KEY([Codigo_envio])
REFERENCES [dbo].[ENVIOS] ([Codigo_envio])
GO
USE [master]
GO
